{
	admin off
}

(common_config) {
	reverse_proxy :10000

	log {
		format console
	}

	log_skip //session/ping
	log_skip /session/polling/

	uri path_regexp /{2,} /
}

:80 {
	import common_config
}

:443 {
	tls fullchain1.pem privkey1.pem

	import common_config
}
